.projects-section {
  padding: 4rem 2rem;
  color: #ffffff;
  text-align: center;
  padding-bottom: 100px;
}

.projects-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  animation: slideInTop 0.7s ease-in;
  position: relative;
  top: 35px;
}

.projects-subtitle {
  font-size: 1rem;
  color: #bbbbbb;
  margin-bottom: 3rem;
  animation: slideInTop 0.7s ease-in;
  position: relative;
  top: 35px;
}

.projects-subtitle span {
  color: #facc15;
  font-weight: 500;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.7rem;
  max-width: 1200px;
  animation: fadeInGrow 0.8s ease-in;
  margin: 0 auto;
  position: relative;
  top: 30px;
}

.project-card {
  background-color: #202020;
  border-radius: 12px;
  height: 45vh;
  width: 40vh;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.project-card:hover {
  transform: translateY(-5px);
  background-color: #383838bb;
}

.project-thumbnail {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  margin-bottom: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.project-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #f5f5f5;
  margin-bottom: 0.5rem;
}

.project-description {
  font-size: 1rem;
  color: #dddddd;
  margin-left: 0.2rem;
  margin-bottom: 3.5rem;
}

.project-tech {
  font-size: .86rem;
  color: #ffe375;
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
  font-weight: 550;
  
}

/* ✨ Fade-in icons on hover */
.project-icons {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
  margin-top: 1rem;
  opacity: 100;
  transform: translateY(5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.project-card:hover .project-icons {
  opacity: 1;
  transform: translateY(0);
}

.project-icons .icon {
  color: #ffffff;
  font-size: 1.1rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.project-icons .icon:hover {
  transform: scale(1.2);
  color: #ffffff;
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInGrow {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
