.navbar-container {
  display: flex;
  justify-content: center;
  background-color: #0e0e0e91;
  backdrop-filter: blur(8px);
  position: fixed;
  padding: 30px 20px;
  height: 70px;
  width: 100%;
  z-index: 1;
  top: -10px;
}

.navbar-links {
  display: flex;
  gap: 40px;
  position: fixed;
  list-style: none;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(68, 68, 68);
  position: relative;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #f1c40f;
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background-color: #f1c40ff1;
  border-radius: 10px;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease, box-shadow 0.3s ease;
}

.navbar-links a:hover::after,
.navbar-links a.active::after {
  width: 100%;
}

.navbar-links a.active::after {
  width: 100%;
  height: 3px;
  background-color: #f1c40f;
  bottom: -5px;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px #f1c40f, 0 0 20px #f1c40f;
}

.navbar-links a.active {
  color: white;
}

.github_container {
  height: 3vh;
  width: 3vh;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 20%;
  top: 25px;
  overflow: hidden;
  animation: fadeInDrop 0.6s ease forwards;
  opacity: 0;
  transform: translateY(-30px);
  animation-delay: 0.6s;
}

.github {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.signature_container {
  color: #ffee55d8;
  margin-right: 70%;
  padding: 0;
  font-size: 1.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation: fadeInDrop 0.6s ease forwards;
}

.navbar-links .nav-item {
  opacity: 0;
  transform: translateY(-30px);
  animation: fadeInDrop 0.6s ease forwards;
  animation-delay: var(--delay);
}

@keyframes fadeInDrop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
